@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, monospace;
}

.leaflet-container {
  height: 350px;
  width: 100%;
  border-radius: 0.5rem;
}
